
<div class="playlist row">
    <h1>My Playlist</h1>
    <div class="col-2">
        <img src="https://t4.ftcdn.net/jpg/01/06/47/61/360_F_106476142_zMZkkTkhMeq0DIjV20oJI00e3QXLYIGN.jpg" alt="image">
        <img src="https://t4.ftcdn.net/jpg/01/06/47/61/360_F_106476142_zMZkkTkhMeq0DIjV20oJI00e3QXLYIGN.jpg" alt="image">
         
    </div>
    <div class="container col-10" >
        
    
    <ul>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Lytos</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 2</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <li>
            <span class="song-name">Song 3</span>
            <span class="song-artist">(artist name)</span>
        </li>
        <!-- Add more songs here -->
    </ul>
</div>
</div>