<div class="spotify_song-card">
    <div class="spotify_song_card_thubnail">
        <!-- <img [src] = "playlistthumbnail" width = "120" alt="thumbnail"/> -->
    </div>
    <div class="spotify_song-card_title text-left" >
        {{title}}
        <img src="https://w7.pngwing.com/pngs/690/149/png-transparent-computer-icons-music-sound-k-song-miscellaneous-blue-text-thumbnail.png">
        <p>this is song</p>
    </div>
    <div class="spotify_songcard_description">
        {{ description }}
    </div>
</div>