.spotify_home-container_side-bar{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify_home-container_playlist_side-bar{
    background-color: #191919;
    height: 100vh;
    padding: 0px;
    /* width:fit-content; */
    overflow-y: auto;
}
/* .spotify_home_container_playlist-container{

} */
.playlist_card_collections{
    background-color: #1e1e1e;
    display: flex;
    gap: 30px;
    max-width: 1500px;
    overflow-x: auto;
    overflow-y: auto;
    /* height: ; */
    position: static;
    
   
}

#song_card_item{
    min-width: 185px;
}
.spotify_home-container_side-bar_item{
   color: white;
   font-size: 16px;
  width: 100%;
  margin: 10px;
  
}
/* .song_card_item{

} */

.spotify_home-container_side-bar_item > a:hover{
    cursor: pointer;
    color: lightgray;

 }

 .spotify_home-container_playlist_side-bar{
    padding-left: 0px;
    padding-right: 0px;
 }
 #playlist{
    background-color: #2f2d2d;
    border-radius: 25px;
    height: 160px;
    text-align: center;
    padding-top: 20px;
 }
 #playlist_header{
    color: white;
    text-align: left;
 }
 #playlist_btn{
  border-radius: 25px;
  text-decoration: double;
  box-shadow: #191919;
  font-size: medium;
 }
 .extra_info{
    width: 200px;
    color: white;
    font-size: small;
    text-align: left;
 }
 .footer_section{
    color: white;
 }