<div class="spotify_home-container row">
    <div class="spotify_home-container_side-bar col-2">
        <div class="spotify_home-container_side-bar_item">
            <img
            width="150"
            class="m-3 text-left"               
               src="assets/spotify_logo_white.png" alt="spotify_logo_light_logo">
        </div>
        <div class="spotify_home-container_side-bar_item">
           <a>Home</a>
        </div>
        <div class="spotify_home-container_side-bar_item">
            <a>Search</a>
         </div>
         <div class="spotify_home-container_side-bar_item">
            <a>Your_library</a>
         </div>
         <div class="spotify_home-container_side-bar_item">
            <a>Create_play_list</a>
         </div>
        
    </div>
    <div class="spotify_home-container_playlist_side-bar col-10">
        <app-top-nav></app-top-nav>
        <div [style.paddingTop]="'48px'" class ="mt-5 container">
         <h4 [style.color]="'white'" [style.padding]="'10px'">Focus</h4>
         <div class="playlist_card_collections">
            <div class="song_card_item" *ngFor= "let sc of songCards">
         <app-song-card>
            [playlistThumbnail]="sc.thumbnail"
            [title]="sc.title"
            [description]="sc.description"
         </app-song-card>
        </div>
      </div>
   </div>
   <div [style.paddingTop]="'250px'" class="mt-5 container-fluid">
   <h4 [style.color]="'white'" [style.padding]="'10px'" >
   spotify Playlists
   </h4>

   <!-- <div id=""song_card_item *ngFor="let sc of songCards">
   <app-song-card>
      [playlistThumbnail]="sc.thumbnail"
      [title]="sc.title"
      [description]="sc.description"
   </app-song-card>
   </div> -->
   <div class="playlist_card_collections">
      <div class="song_card_item" *ngFor= "let sc of songCards">
   <app-song-card>
      [playlistThumbnail]="sc.thumbnail"
      [title]="sc.title"
      [description]="sc.description"
   </app-song-card>
  </div>
</div>
</div>

</div>
    
</div>
